#map {
  height: 50vh;
  width: 50vw;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Righteous';
    background: rgb(149,0,255);
    background: radial-gradient(circle, rgba(149,0,255,1) 0%, rgba(3,0,84,1) 100%);
    /* color: white; */
  
  }
  
  #bg-active {
      background: rgb(210,218,248);;
  }

form {
  width: 70%;
  margin: 0 auto;

}

.form-decoration {
  width: 100%;
  max-width: 400px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 10px;
  background: none;
  margin-bottom: 10px;
  font-size: 18px;
  color: #eee;
  font-family: "verdana";
}

.btn-decoration{
  background: #FDFC47;
   padding: 10px 15px;
  border: none;
  color: #222;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
}


label.cover i{
  font-size: 1.2rem;
  padding-right: 10px;
}

label {
  display: block;
  color: #eee;
  margin-bottom: 10px;
}

.center-div {
  text-align: center;
}

.postsContainer {
  /* margin: 40px auto; */
  margin-top: 10px;
  justify-content: space-between;
  width: 70%;
}

.post {
  width: 320px;
  min-width: 320px;
  background: #eee;
  padding: 10px;
 
  font-family: "verdana";
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 88px -23px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 88px -23px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 88px -23px rgba(0,0,0,0.75);
}

.post h2 {
  font-family: 'Righteous';
}

.post > div {
  height: 200px;
  width: auto;
  background-size: auto;
  border-radius: 5px;
  background-size: cover;
  
}

label {
  display: block;
  color: #eee;
  margin-bottom: 10px;
}

.delete {
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  padding: 10px;
  color: #eee;
  font-size: 18px;
  border-radius: 5px;
}